.profile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;        
    margin-bottom: 16px;

    &__head {
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    &__avatar {
        width: 100px;   
        height: 100px;  
    }
    &__date {
        margin-left: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: #4d99d6;
    }
    &__text {
        width: 70%;
    }
    &__name {
        color: #000;
        font-weight: 400;
        margin-bottom: 16px;
    }
    &__role {
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__tel {
        font-weight: 400;
        color: #000;
        &:hover{
            color: $link-hover-color;
            
        }
    }
}
