
/* Base styles */

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

p,h1,h2,h3,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.title{
    color: #4d99d6;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 68px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.title_primary{
    font-size: 60px;
}

.subtitle{
    color: #626262;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 30px;
}

.subtitle_primary{
    color: #003b76;
    font-size: 20px;
    font-weight: 700;
}

.descr{
    color: #747474;
    font-weight: 300;
    line-height: 30px;
}

.btn {
    height: 71px;
    border-radius: 20px;
    border: 3px solid #4d99d6;
    background-color: #ffffff;
    color: #4d99d6;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: 0.2s;
}
.btn:hover {
    background-color: #d7e9f76b;
    box-shadow: 0px 0px 5px #4d99d6;
}
.btn:active{
    background-color: #4d99d6;
    color: #fff;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
    padding: 0px 48px 0px 60px;
}

/* Content */

.content {

}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #1e3d74;
    height: 100%;
    padding: 20px 15px;
    position: fixed;
}

.right-content {
    padding: 27px 60px 0px 109px;
}