

/* Sidebar */

.content {
}

.content .left-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.content .left-content ul li:hover {
    opacity: 0.7;
}

.content {
}


.content .right-content .header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
}
.content .right-content .header .logo {
    padding: 0 20px;
}
.content .right-content .header .top-menu {
    width: 100%;
    display: flex;
}
.content .right-content .header .top-menu .top-menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.content .right-content .header .top-menu ul li {
    width: 14%;
}
/***************************/
.content .right-content .header .top-menu ul li .img-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 27px;
    height: 27px;
}
.content .right-content .header .top-menu ul li .image-item-1 {
    background-image:  url(../images/top_1.png);
}
.content .right-content .header .top-menu ul li .image-item-2 {
    background-image: url(../images/top_2.png);
}
.content .right-content .header .top-menu ul li .image-item-3 {
    background-image: url(../images/top_3.png);
}
.content .right-content .header .top-menu ul li .image-item-4 {
    background-image: url(../images/top_4.png);
}
.content .right-content .header .top-menu ul li .image-item-5 {
    background-image: url(../images/top_5.png);
}
.content .right-content .header .top-menu ul li .image-item-6 {
    background-image: url(../images/top_6.png);
}
.content .right-content .header .top-menu ul li .image-item-7 {
    background-image: url(../images/top_7.png);
}
/***************************/
.content .right-content .header .top-menu ul li:hover .image-item-1 {
    background-image:  url(../images/top_1r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-2 {
    background-image: url(../images/top_2r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-3 {
    background-image: url(../images/top_3r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-4 {
    background-image: url(../images/top_4r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-5 {
    background-image: url(../images/top_5r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-6 {
    background-image: url(../images/top_6r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-7 {
    background-image: url(../images/top_7r.png);
}
/***************************/
.content .right-content .header .top-menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.content .right-content .header .top-menu ul li a:hover span {
    color: #880015;
}
.content .right-content .header .top-menu ul li a img {
    max-width: 27px;
}
.content .right-content .header .top-menu ul li a span {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #1e3d74;
    text-transform: uppercase;
}

/* Bottom Menu */

.bottom-menu {
    margin: 32px 0px 45px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 48px;
}
.back-nav {

}
.back-nav__list {
    display: flex;
    align-items: center;
    margin: 0;
}

.back-nav__item {
    height: 100%;
}

.back-nav__link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #1e3d74;
    letter-spacing: -0.5px;
}

.back-nav__link:visited{
    color: #1e3d74;
}

.back-nav__link:hover {
    color: #a10006;
}

.back-nav__link.current {
    color: #000;
}

.back-nav__link span{
    width: 8px;
    height: 8px;
    margin: 0px 8px;
}

.serch-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.serch-bar__input {
    width: 400px;
    height: 47px;
    background-color: #ebe8e9;
    padding-left: 32px;
    border-radius: 20px;
    border: 1px solid #d0d0d0;
    transition-duration: 0.2s;
}
.serch-bar__input:hover{
    background-color: #fff;
    box-shadow: 0 0 5px rgb(68, 68, 68);
}
.serch-bar__input:focus-visible{
    background-color: #fff;
    box-shadow: 0 0 5px rgb(68, 68, 68);
}

.search-bar__icon {
    height: 23px;
    width: 23px;
    position: relative;
    top: 50%;
    right: 40px;
}