body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.content {
    overflow-x: hidden;
}
.content .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #1e3d74;
    height: 100%;
    padding: 20px 15px;
    position: fixed;
}
.content .left-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.content .left-content ul li:hover {
    opacity: 0.7;
}
.content .right-content {
    padding-right: 60px;
    padding-left: 109px;
}
.content .right-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 0;
}
.content .right-content .header .logo {
    padding: 0 20px;
}
.content .right-content .header .top-menu {
    width: 100%;
}
.content .right-content .header .top-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.content .right-content .header .top-menu ul li {
    width: 14%;
}
/***************************/
.content .right-content .header .top-menu ul li .img-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 27px;
    height: 27px;
}
.content .right-content .header .top-menu ul li .image-item-1 {
    background-image:  url(../images/top_1.png);
}
.content .right-content .header .top-menu ul li .image-item-2 {
    background-image: url(../images/top_2.png);
}
.content .right-content .header .top-menu ul li .image-item-3 {
    background-image: url(../images/top_3.png);
}
.content .right-content .header .top-menu ul li .image-item-4 {
    background-image: url(../images/top_4.png);
}
.content .right-content .header .top-menu ul li .image-item-5 {
    background-image: url(../images/top_5.png);
}
.content .right-content .header .top-menu ul li .image-item-6 {
    background-image: url(../images/top_6.png);
}
.content .right-content .header .top-menu ul li .image-item-7 {
    background-image: url(../images/top_7.png);
}
/***************************/
.content .right-content .header .top-menu ul li:hover .image-item-1 {
    background-image:  url(../images/top_1r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-2 {
    background-image: url(../images/top_2r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-3 {
    background-image: url(../images/top_3r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-4 {
    background-image: url(../images/top_4r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-5 {
    background-image: url(../images/top_5r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-6 {
    background-image: url(../images/top_6r.png);
}
.content .right-content .header .top-menu ul li:hover .image-item-7 {
    background-image: url(../images/top_7r.png);
}
/***************************/
.content .right-content .header .top-menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.content .right-content .header .top-menu ul li a:hover span {
    color: #880015;
}
.content .right-content .header .top-menu ul li a img {
    max-width: 27px;
}
.content .right-content .header .top-menu ul li a span {
    font-size: 16px;
    font-weight: 600;
    color: #1e3d74;
    text-transform: uppercase;
}

.right-content .section {
    display: flex;
    justify-content: space-between;
}
.right-content .section .section-left {
    width: 60%;
}
.right-content .section .section-left .section-banner {
    background-image: url(../images/image-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    min-height: 430px;
    padding-right: 30px;
}
.right-content .section .section-left .section-banner p.sb-1 {
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}
.right-content .section .section-left .section-banner p.sb-2 {
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}
.right-content .section .section-right {
    width: 40%;
}
.section-news-bonus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.owl-stage {
    /*flex-wrap: wrap;*/
}
.section-news-bonus .block-news {
    background-color: #f3f3f3;
    width: 40%;
    padding: 70px;
}
.section-news-bonus .block-news h2 {
    font-size: 16px;
    font-weight: 600;
    color: #1e3d74;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: inline;
}
.section-news-bonus .block-news h2::after {
    content: url(../images/news-icon.png);
    position: absolute;
    right: -43px;
    top: -2px;
}
.section-news-bonus .block-news .news-slider {
    margin-top: 40px;
    /*width: 100%;*/
}
.section-news-bonus .block-bonus {
    width: 30%;
    padding: 70px;
}
.section-news-bonus .block-bonus h2 {
    font-size: 16px;
    font-weight: 600;
    color: #1e3d74;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: inline;
}
.section-news-bonus .block-bonus ul {
    list-style: none;
    padding-left: 28px;
    margin-top: 30px;
    margin-bottom: 0;
}
.section-news-bonus .block-bonus ul li {
    position: relative;
    margin: 17px 0;
    font-size: 21px;
    font-weight: 300;
}
.section-news-bonus .block-bonus ul li::before {
    content: url(../images/galka.png);
    position: absolute;
    left: -28px;
    top: 0;
}
#slider .slide {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#slider .slide span.news-date {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
#slider .slide a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.section-right {

}
.section-right .block-search {
    padding: 0 0 0 70px;
    display: flex;
    justify-content: flex-end;
}
.section-right .block-search form {
    display: flex;
    position: relative;
}
.section-right .block-search form button {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 13px;
    z-index: 9;
}
.section-right .block-search form button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.section-right .block-search input.search-input {
    width: 400px;
    height: 47px;
    background-color: #ebe8e9;
    padding-left: 32px;
    border-radius: 20px;
    border: 1px solid #d0d0d0;
    transition-duration: 0.2s;
    font-size: 18px;
}
.section-right .block-search input.search-input:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgb(68, 68, 68);
}
.section-right .block-search input.search-input:focus-visible {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(68, 68, 68);
}
.section-right .block-birth {
    padding-left: 70px;
    margin: 50px 0;
}
.section-right .block-birth h2 {
    font-size: 16px;
    font-weight: 600;
    color: #1e3d74;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: inline;
}
.section-right .block-birth h2::after {
    content: url(../images/cal.png);
    position: absolute;
    right: -43px;
    top: -2px;
}
.section-right .block-birth .people-birth {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.section-right .block-birth .people-birth .pd-inner {
    width: 45%;
}
.section-right .block-birth .people-birth .pd-inner .pd-photo {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.section-right .block-birth .people-birth .pd-inner .pd-photo img {
    border: solid 1px #dadada;
    border-radius: 50%;
}
.section-right .block-birth .people-birth .pd-inner .pd-photo span {
    font-size: 18px;
    color: #4d99d6;
    font-weight: bold;
}
.section-right .block-birth .people-birth .pd-inner .pd-fio {
    font-size: 18px;
    color: #000;
}
.section-right .block-birth .people-birth .pd-inner .pd-spec {
    font-size: 18px;
    color: #000;
    margin: 10px 0;
}
.section-right .block-birth .people-birth .pd-inner .pd-phone, .section-right .block-birth .people-birth .pd-inner .pd-phone a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.section-right .block-birth .people-birth .pd-inner .pd-phone a:hover {
    opacity: 0.7;
}
.block-birth.block-new-people {
    margin-top: 30px;
    background: #f3f3f3;
    padding: 70px 0 70px 70px;
    position: relative;
}
.block-birth.block-new-people::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background: #f3f3f3;
    top: 0;
    right: -100px;
}
.block-birth.block-new-people h2 {
    color: #880015;
}
.section-right .block-birth.block-new-people .people-birth .pd-inner .pd-photo img {
    border: solid 2px #880015;
}
.section-right .block-birth.block-new-people h2::after {
    content: url(../images/new-job.png);
    right: -50px;
}
.section-right .link-question {
    text-align: center;
}
.section-right .link-question a {
    font-size: 22px;
    color: #4d99d6;
    padding: 25px 30px;
    border: solid 3px #4d99d6;
    border-radius: 25px;
    text-transform: uppercase;
    display: inline-block;
}
.section-right .link-question a:hover {
    opacity: 0.7;
}










