$main-color: #1e3d74;
$main-secondary-color: #4d99d6;
$main-active-color: #880015;
$secondary-color: #e7e7e7;


// sizes
$seacrh-bar-width: 35%;

// padding
$var-padding-left: 60px;


// Text
$title-color: #4d99d6;
$subtitle-color: #626262;
$subtitle-primary-color: #003b76;

// Button
$btn-text: #4d99d6;
$btn-border: #4d99d6;
$btn-bg: #ffffff;

$btn-hover-bg: #d7e9f76b;
$btn-hover-shadow: #4d99d6;

$btn-active-bg: #4d99d6;
$btn-active-text: #ffffff;

// Link
$link-color: #1e3d74;
$link-hover-color: #880015;
$link-active-color: #1e3d74;
