.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.top-menu {
  width: 100%;
  display: flex;
}
.top-menu__logo {
  padding: 0 20px;
}
.top-menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.top-menu__item {
  width: 14%;
}
.top-menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.top-menu__link span {
  text-transform: uppercase;
}
.top-menu__link:hover span {
  color: #880015;
}
.top-menu__img-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 27px;
  height: 27px;
}
.top-menu__image-item-1 {
  background-image: url("../img/general/header/top_1.png");
}
.top-menu__image-item-2 {
  background-image: url("../img/general/header/top_2.png");
}
.top-menu__image-item-3 {
  background-image: url("../img/general/header/top_3.png");
}
.top-menu__image-item-4 {
  background-image: url("../img/general/header/top_4.png");
}
.top-menu__image-item-5 {
  background-image: url("../img/general/header/top_5.png");
}
.top-menu__image-item-6 {
  background-image: url("../img/general/header/top_6.png");
}
.top-menu__image-item-7 {
  background-image: url("../img/general/header/top_7.png");
}
.top-menu__link:hover .top-menu__image-item-1 {
  background-image: url("../img/general/header/top_1r.png");
}
.top-menu__link:hover .top-menu__image-item-2 {
  background-image: url("../img/general/header/top_2r.png");
}
.top-menu__link:hover .top-menu__image-item-3 {
  background-image: url("../img/general/header/top_3r.png");
}
.top-menu__link:hover .top-menu__image-item-4 {
  background-image: url("../img/general/header/top_4r.png");
}
.top-menu__link:hover .top-menu__image-item-5 {
  background-image: url("../img/general/header/top_5r.png");
}
.top-menu__link:hover .top-menu__image-item-6 {
  background-image: url("../img/general/header/top_6r.png");
}
.top-menu__link:hover .top-menu__image-item-7 {
  background-image: url("../img/general/header/top_7r.png");
}

.bottom-menu {
  margin: 32px 0px 45px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 48px;
}

.back-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
}
.back-nav__item {
  height: 100%;
}
.back-nav__link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1e3d74;
  letter-spacing: -0.5px;
}
.back-nav__link:visited {
  color: #1e3d74;
}
.back-nav__link:hover {
  color: #a10006;
}
.back-nav__link.current {
  color: #000;
}
.back-nav__link span {
  width: 8px;
  height: 8px;
  margin: 0px 8px;
}

.serch-bar {
  position: relative;
  display: flex;
  align-items: center;
}
.serch-bar__input {
  width: 400px;
  height: 47px;
  background-color: #ebe8e9;
  padding-left: 32px;
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  transition-duration: 0.2s;
}
.serch-bar__input:hover {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(68, 68, 68);
}
.serch-bar__input:focus-visible {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(68, 68, 68);
}

.search-bar__icon {
  height: 23px;
  width: 23px;
  position: relative;
  top: 50%;
  right: 40px;
}/*# sourceMappingURL=header.css.map */