.header {
      display: flex;
      flex-wrap: wrap;
      padding-top: 27px;
      margin-bottom: 27px;
}

.top-menu {
      width: 100%;
      display: flex;
      align-items: center;

      &__logo-wrapper {
      }

      &__logo-link {}

      &__logo {
            padding: 0 20px;
            width: 240px;
            height: 57px;
      }

      &__list {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
      }

      &__item {
      }

      &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 15px;
            text-decoration: none;
      }

      &__link span {
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            color: $main-color;
      }

      &__link:hover span {
            color: $main-active-color;
      }

      // Styles for New employee link
      &__item_employee {
            position: relative;
      }

      &__item_employee-top {
            position: absolute;
            top: -27px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 43px;
            height: 25px;
            background-image: url("../img/general/header/flag-employee.png");
            background-size: contain;
            background-repeat: no-repeat;
      }

      &__link_employee span {
            color: $main-active-color;
      }

      &__link_employee:hover span {
            color: $main-secondary-color;
      }

      &__img-item {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 27px;
            height: 27px;
      }

      &__image-item-catalog {
            background-image: url("../img/general/header/top_1.png");
      }

      &__image-item-programm {
            background-image: url("../img/general/header/top_2.png");
      }

      &__image-item-news {
            background-image: url("../img/general/header/top_3.png");
      }

      &__image-item-docs {
            background-image: url("../img/general/header/top_4.png");
      }

      &__image-item-meeting {
            background-image: url("../img/general/header/meeting.png");
      }

      &__image-item-union {
            background-image: url("../img/general/header/top_5.png");
      }

      &__image-item-university {
            background-image: url("../img/general/header/top_6.png");
      }


      // image-item:hover
      &__link:hover &__image-item-catalog {
            background-image: url("../img/general/header/top_1r.png");
      }

      &__link:hover &__image-item-programm {
            background-image: url("../img/general/header/top_2r.png");
      }

      &__link:hover &__image-item-news {
            background-image: url("../img/general/header/top_3r.png");
      }

      &__link:hover &__image-item-docs {
            background-image: url("../img/general/header/top_4r.png");
      }

      &__link:hover &__image-item-meeting {
            background-image: url("../img/general/header/meeting_r.png");
      }

      &__link:hover &__image-item-union {
            background-image: url("../img/general/header/top_5r.png");
      }

      &__link:hover &__image-item-university {
            background-image: url("../img/general/header/top_6r.png");
      }
}

.burger {
      display: none;
      &__line {
            width: 28px;
            height: 4px;
            margin-bottom: 4px;
            background-color: $main-color;
      }
}

.bottom-menu {
      margin: 32px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 48px;
}

.back-nav {
      &__list {
            display: flex;
            align-items: center;
            margin: 0;
      }

      &__item {
            height: 100%;
      }

      &__link {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #1e3d74;
            letter-spacing: -0.5px;
      }

      &__link:visited {
            color: #1e3d74;
      }

      &__link:hover {
            color: #a10006;
      }

      &__link.current {
            color: #000;
      }

      &__link span {
            width: 8px;
            height: 8px;
            margin: 0px 8px;
      }
}

.search-bar {
      position: relative;
      display: flex;
      align-items: center;
      width: $seacrh-bar-width;

      &__input {
            width: 100%;
            height: 47px;
            background-color: #ebe8e9;
            padding-left: 32px;
            border-radius: 20px;
            border: 1px solid #d0d0d0;
            transition-duration: 0.2s;
      }

      &__input:hover {
            background-color: #fff;
            box-shadow: 0 0 5px rgb(68, 68, 68);
      }

      &__input:focus-visible {
            background-color: #fff;
            box-shadow: 0 0 5px rgb(68, 68, 68);
      }
}

.search-bar {

      &__btn {
            position: absolute;
            top: 50%;
            // width of search-bar__input
            right: 15px;
            transform: translate(0%, -50%);
      }

      &__icon {
            height: 23px;
            width: 23px;
      }
}

@media (max-width: 1845px) {
      .header {}

      .top-menu {

            &__logo {
                  width: 233px;
                  height: 50px;
            }

            &__link span {
                  font-size: 20px;
            }
      }
}

@media (max-width: 1650px) {
      .header {}

      .top-menu {

            &__link span {
                  font-size: 16px;
            }
      }

      .bottom-menu {}

      .back-nav {
            &__list {}
      }

      .search-bar {
            &__btn {}

            &__icon {}

            &__input {}
      }

}

@media (max-width: 1320px) {
      .top-menu {
            justify-content: space-between;
      }
      .top-menu__list {
            width: 400px;
            position: absolute;
            right: -400px;
            flex-direction: column;
            background-color: $main-secondary-color;
      }
      .burger {
            display: flex;
            flex-direction: column;
            &._active .burger__line{
                  &:nth-child(1) {
                        transform: rotate(45deg);
                  }
            }
            &__line {
                  width: 32px;
                  height: 4px;
                  margin-bottom: 4px;
                  background-color: $main-color;
            }
      }
}