.account-page {
    .account {
        display: flex;
        flex-direction: column;

        &__body {
            min-height: 300px;
            display: flex;
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            margin-bottom: 60px;
        }

        &__avatar {}

        &__avatar-img {
            width: 100px;
            height: 100px;
        }

        &__info {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__name {
            color: #000;
            font-weight: 700;
            font-size: 24px;
        }

        &__role {
            color: #000;
            font-size: 24px;
        }

        &__tel {
            color: #000;
            font-size: 24px;
        }

        &__mail {
            color: #000;
            font-size: 24px;
        }

        &__room {
            color: #000;
            font-size: 24px;
        }
    }
}
