@import "helpers/variables";

.notifications {
    &__body {
        display: flex;
        flex-direction: column;
        min-height: 70vh;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__list {
        flex-grow: 1;
    }

    &__bottom-pannel {
        display: flex;
        justify-content: flex-end;
    }

    &__bottom-btn {
        padding: 21px 31px;
    }
}

.notification {
    display: flex;
    margin-bottom: 16px;
    &__date {
        font-size: 24px;
        font-weight: 400;
    }

    &__time {
        font-size: 24px;
        font-weight: 400;
        margin: 0px 16px;
    }

    &__link {
        font-size: 24px;
        font-weight: 400;
        color: $main-secondary-color;
        border-bottom: 2px solid $main-secondary-color;

        &:hover {
            border-bottom: 2px solid $main-active-color;
        }
    }
}