@import "helpers/variables";


.program-content {
    padding-right: 0px;
}

.content {}

.main {}

.program {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    background-image: url('../img/general/pages/program/program-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &__body {
        width: 100%;
        flex-grow: 1;
        padding-right: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__title {
        width: 33.3%;
        font-size: 58px;
    }

    &__info {
        width: 66.7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__info-item {
        width: 40%;
        margin-bottom: 40px;
        display: flex;
    }

    &__icon {
        height: 46px;
        width: 46px;
        margin-right: 26px;
    }

    &__text {
    }

    &__link {
        &:hover .program__subtitle {
            color: #a10006;
        }

    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__descr {}

    &__descr-link {
        color: #59bde6;
        border-bottom: 1px solid #81adbf;
    }

    &__btn {
        width: 394px;
        align-self: flex-end;
    }
}

@media (max-width: 1650px) {
    .program{
        &__info-item {
            width: 47%;
        }
    }
}

@media (max-width: 1560px) {
    .program {
		&__title {
            width: 100%;
            margin-bottom: 60px;
		}
		&__info {
            width: 100%;
		}
		&__descr {
            text-shadow: 0px 0px .5px #000;
		}
}

}

@media (max-width: 1100px) {
    .program {
		&__title {
            font-size: 50px;
		}
		&__info {
            width: 100%;
		}
		&__descr {
            text-shadow: 0px 0px .5px #000;
		}
}
}

@media (max-width: 840px) {
    .program {
		&__title {
            font-size: 50px;
		}
		&__info {
            width: 100%;
		}
		&__info-item {
            width: 100%;
		}
		&__descr {
            text-shadow: 0px 0px .5px #000;
		}
}
}

@media (max-width: 650px) {
    .program {
		&__body {
            padding-right: 24px;
		}
		&__title {
            font-size: 40px;
            line-height: 50px;
		}
		&__info {
            width: 100%;
		}
		&__info-item {
            width: 100%;
		}
		&__icon {
            margin-right: 16px;
		}

		&__descr {
            text-shadow: 0px 0px .5px #000;
		}
}  
}

@media (max-width: 470px) {
    .program {
		&__title {
            font-size: 32px;
            line-height: 40px;
            font-weight: 400;
		}
    }
}
