<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Page</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/all.css">
</head>

<body>
    <div class="content-wrapper">
        @@include("../blocks/modules/sideBar/sideBar.html")
        <div class="header-wrapper">
            @@include("../blocks/modules/header/header.html")
        </div>
        <main class="main">
            <div class="benefits-page page">
                <section class="benefits">
                    <div class="container">
                        <div class="benefits__body">
                            <h2 class="benefits__subtitle_primary subtitle_primary">Бенефиты компании и профсоюза</h2>
                            <ul class="benefits__list">
                                <h4 class="benefits__title title title_primary">Нам важен твой комфорт</h4>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/team.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Мотивационная программа
                                            </p>
                                        </div>
                                        <p class="benefits__descr descr">Участвуй в нашей мотивационной программе,
                                            собирай баллы и обменивай их на подарки!</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/calendar.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Sick day \ Оплачиваемый
                                                выходной
                                            </p>
                                        </div>
                                        <p class="benefits__descr descr">Раз в год ты можешь взять
                                            один оплачиваемый выходной</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/wallet.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Материальная помощь</p>
                                            <p class="benefits__prof-descr">Профсоюз</p>
                                        </div>
                                        <p class="benefits__descr descr">Компания оказывает материальную помощь при
                                            необходимости</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/heart.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Бонусы по случаю значимых
                                                событий
                                            </p>
                                        </div>
                                        <p class="benefits__descr descr">Бонусы по случаю значимых событий </p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/insurance.png"
                                        alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Медицинская страховка</p>
                                        </div>

                                        <p class="benefits__descr descr">Наша медицинская программа включает в себя
                                            комплексную
                                            помощь, а также медикаментозное лечение, стоматологию и диагностику Covid-19
                                        </p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/sports.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Allsports \ Частичная
                                                компенсация
                                            </p>
                                        </div>

                                        <p class="benefits__descr descr">Ежедневный доступ к тренажерным залам,
                                            йога-центрам,
                                            бассейнам, теннису и многим другим спортивным услугам</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/english.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Курсы английского</p>
                                        </div>

                                        <p class="benefits__descr descr">Корпоративные занятия английским в офисе.
                                            Опытные
                                            преподаватели, носители языка, удобный график - все для твоего комфорта.
                                        </p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/corporate.png"
                                        alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Корпоративные праздники</p>
                                            <p class="benefits__prof-descr">Профсоюз</p>
                                        </div>

                                        <p class="benefits__descr descr">У нас проходят грандиозные тематические
                                            корпоративы:
                                            от вечеринки в стиле 90-х до джаза</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/team.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Team-building</p>
                                            <p class="benefits__prof-descr">Профсоюз</p>
                                        </div>

                                        <p class="benefits__descr descr">Мы хорошо работаем, поэтому и хорошо отдыхаем.
                                            Отправляйся с нами на мастер-классы, спортивные соревнования, цирк,
                                            турслеты,
                                            экскурсии по Беларуси и за ее пределамиХочешь познакомится с коллегами в
                                            новом
                                            ракурсе, тогда время отправится на турслет, экскурсию по Беларуси и за ее
                                            пределы
                                        </p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/study.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Поддержка обучения </p>
                                        </div>

                                        <p class="benefits__descr descr">Полная или частичная оплата курсов, семинаров,
                                            тренингов, повышение квалификации. Компенсация затрат на сертификацию</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/rest.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Отпуск 30 календарных дней
                                            </p>
                                        </div>

                                        <p class="benefits__descr descr">Отпуск можем делить на три части</p>
                                    </div>
                                </li>
                                <li class="benefits__item">
                                    <img class="benefits__icon" src="img/general/pages/bonuses/tech.png" alt="icon">
                                    <div class="benefits__text">
                                        <div class="benefits__subtitle-wrapper">
                                            <p class="benefits__subtitle subtitle_primary">Качественная техника</p>
                                        </div>
                                        <p class="benefits__descr descr">Качественная техника</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="final-words">
                    <div class="container">
                        <div class="final-words__body">
                            <div class="final-words__col">
                                <h4 class="final-words__title title title">Мы не забываем и
                                    о наших маленьких
                                    коллегах!</h4>
                                <p class="final-words__descr descr">Проводим для них конкурсы, веселые праздники и дарим
                                    подарки
                                </p>
                            </div>
                            <div class="final-words__col">
                                <div class="bonuses">
                                    <ul class="bonuses__list">
                                        <li class="bonuses__item">
                                            <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                                alt="icon" />
                                            <p class="bonuses__subtitle subtitle_primary">Финансовый бонус при рождении
                                                ребенка
                                            </p>
                                        </li>
                                        <li class="bonuses__item">
                                            <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                                alt="icon" />
                                            <p class="bonuses__subtitle subtitle_primary">Праздники для детей</p>
                                        </li>
                                        <li class="bonuses__item">
                                            <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                                alt="icon" />
                                            <p class="bonuses__subtitle subtitle_primary">Санатории и лагеря</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        @@include("../blocks/modules/support/support.html")
    </div>


    <script type='text/javascript' src="js/main.js"></script>
    </div>
</body>

</html>