<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Page</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/all.css">
</head>

<body>
    <div class="content-wrapper">
        @@include("../blocks/modules/sideBar/sideBar.html")
        <div class="header-wrapper">
            @@include("../blocks/modules/header/header.html")
        </div>
        <main class="main">
            <section class="documents">
                <div class="documents__head">
                    <div class="container">
                        <div class="documents__head-pannel">
                            <ul class="documents__head-links">
                                <li class="documents__head-link-item">
                                    <a class="documents__head-link subtitle_primary link active" href="#">
                                        Делопроизводство
                                    </a>
                                </li>
                                <li class="documents__head-link-item">
                                    <a class="documents__head-link subtitle_primary link" href="#">
                                        кадровые документы
                                    </a>
                                </li>
                                <li class="documents__head-link-item">
                                    <a class="documents__head-link subtitle_primary link" href="#">
                                        профсоюз
                                    </a>
                                </li>
                                <li class="documents__head-link-item">
                                    <a class="documents__head-link subtitle_primary link" href="#">
                                        Положения Общества
                                    </a>
                                </li>
                            </ul>
                            <form class="documents__head-search-bar search-bar">
                                <button class="documents__head-search-btn search-bar__btn">
                                    <img class="documents__head-search-icon search-bar__icon"
                                        src="./img/general/header/search.png" alt="search-icon">
                                </button>
                                <input class="documents__head-search-input search-bar__input" type="text"
                                    placeholder="Поиск по документам">
                            </form>
                        </div>
                    </div>
                </div>
    
                <!-- Documents-field -->
                
                <div class="documents__download-field download-field">
                    <div class="container">
                        <ul class="documents__download-field-list download-field__list">
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/pdf.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">pdf</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/doc.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">doc</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/pdf.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">pdf</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/pdf.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">pdf</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/pdf.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">pdf</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/doc.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">doc</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/pdf.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">pdf</span>
                                </a>
                            </li>
                            <li class="documents__download-field-item download-field__item">
                                <a class="documents__download-field-link download-field__link link" href="#" download="">
                                    <p class="documents__download-field-text download-field__text">Заявление на продление отпуска (мат. помощь)</p>
                                    <img class="documents__download-field-icon download-field__icon" src="./img/general/pages/documents/doc.svg" alt="icon">
                                    <span class="documents__download-field-size download-field__size">1,2 мб</span>
                                    <span class="documents__download-field-type download-field__type">doc</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <!-- Documents bottom pannel -->
    
                <div class="bottom-pannel">
                    <div class="container">
                        <div class="bottom-pannel__body">
                            <div class="pager">
                                <a class="pager__arrow-link">
                                    <img class="pager__left-arrow pager__arrow" src="./img/general/pages/documents/arrow.svg" href="#" alt="prev">
                                </a>
                                <div class="pager__links">
                                    <a class="pager__link" href="#">1</a>
                                    <a class="pager__link active" href="#">2</a>
                                    <a class="pager__link" href="#">3</a>
                                    <a class="pager__link" href="#">4</a>
                                    <a class="pager__link" href="#">5</a>
                                    <a class="pager__link" href="#">6</a>
                                </div>
                                <a class="pager__arrow-link">
                                    <img class="pager__right-arrow pager__arrow" src="./img/general/pages/documents/arrow.svg" href="#" alt="next">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    
        @@include("../blocks/modules/support/support.html")
    </div>
    

    <script type='text/javascript' src="js/main.js"></script>
</body>

</html>