<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Белгоспроект</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/img/general/pages/index/favicons/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type='text/javascript' src="js/main.js"></script>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/employee.css">
</head>

<body>

    <div class="content-wrapper">

        @@include("../blocks/modules/sideBar/sideBar.html")
        <div class="header-wrapper">
            @@include("../blocks/modules/header/header.html")
        </div>

        <main class="main">

            <!-- Wishes -->

            <section class="wishes">
                <div class="container">
                    <div class="wishes__body">
                        <div class="wishes__text">
                            <h2 class="wishes__title title title_primary">Только Вперёд!</h2>
                            <p class="wishes__subtitle subtitle">
                                Мы рады, что приобрели нового члена коллектива. От имени всех сотрудников поздравляем со вступлением на должность!
                            </p>
                            <p class="wishes__descr descr">
                                Мы собрали здесь самую необходимую информацию, для того, чтобы orem ipsum dolor sit
                                amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                                gravida dolor sit amet lacus accumsan et viverra justo commodo.
                            </p>
                        </div>
                        <div class="wishes__banner">

                        </div>

                    </div>
                </div>
            </section>

            <!-- Info -->

            <section class="info">
                <div class="container">
                    <div class="info__body">
                        <!-- Docs -->
                        <div class="docs">
                            <h3 class="docs__title title">развивайся с нами!</h3>
                            <p class="docs__subtitle subtitle">Для начала ознакомься с наиболее важными документами,
                                которые мы для тебя подготовили</p>
                            <ul class="docs__list">
                                <li class="docs__item">
                                    <a class="docs__link subtitle_primary" href="#" download>
                                        <p class="docs__text">Стратегия нашей компании</p>
                                        <img class="docs__icon" src="img/general/pages/employee/pdf.svg" alt="icon">
                                        <span>1,2 Мб</span>
                                    </a>
                                </li>
                                <li class="docs__item">
                                    <a class="docs__link subtitle_primary" href="#" download>
                                        <p class="docs__text">наша миссия</p>
                                        <img class="docs__icon" src="img/general/pages/employee/doc.svg" alt="icon">
                                        <span>1,2 Мб</span>
                                    </a>
                                </li>
                                <li class="docs__item">
                                    <a class="docs__link subtitle_primary" href="#" download>
                                        <p class="docs__text">список бонусов</p>
                                        <img class="docs__icon" src="img/general/pages/employee/pdf.svg" alt="icon">
                                        <span>1,2 Мб</span>
                                    </a>
                                </li>
                                <li class="docs__item">
                                    <a class="docs__link subtitle_primary" href="#" download>
                                        <p class="docs__text">наши ценности</p>
                                        <img class="docs__icon" src="img/general/pages/employee/doc.svg" alt="icon">
                                        <span>1,2 Мб</span>
                                    </a>
                                </li>
                                <li class="docs__item">
                                    <a class="docs__link subtitle_primary" href="#" download>
                                        <p class="docs__text">велкомбук</p>
                                        <img class="docs__icon" src="img/general/pages/employee/doc.svg" alt="icon">
                                        <span>1,2 Мб</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Assistance -->
                        <div class="assistance">
                            <h3 class="assistance__title title">Нужна помощь? мы рядом!</h3>
                            <div class="assistance__col">
                                <h4 class="assistance__subtitle subtitle_primary"> У меня не работает компьютер!</h4>
                                <p class="assistance__descr descr">Нашаorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since the 1500s,</p>
                            </div>
                            <div class="assistance__col">
                                <h4 class="assistance__subtitle subtitle_primary">Хочу узнать можно ли в Профсоюзе...
                                </h4>
                                <p class="assistance__descr descr"> Нашаorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been the industry's </p>
                            </div>
                            <div class="assistance__col">
                                <h4 class="assistance__subtitle subtitle_primary"> Я хочу связаться с отделом кадров,
                                    чтобы...</h4>
                                <p class="assistance__descr descr"> when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into </p>
                            </div>
                            <div class="assistance__col">
                                <h4 class="assistance__subtitle subtitle_primary">Мне нужна поддержка!</h4>
                                <p class="assistance__descr descr">when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting,</p>
                            </div>
                            <div class="assistance__pannel">
                                <div class="assistance__wrapper">
                                    <a class="assistance__btn btn-link" href="catalog.html">справочник</a>
                                    <a class="assistance__btn btn-link" href="documents.html">документы</a>
                                </div>

                                <a class="assistance__btn btn-link assistance__btn_long"
                                    href="university.html">корпоративный
                                    университет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Mission -->

            <section class="mission">
                <div class="container">
                    <div class="mission__body">
                        <div class="mission__row">
                            <h3 class="mission__title title">видение</h3>
                            <p class="mission__descr descr"><span>Мы лидеры</span> проектной отрасли Республики Беларусь
                            </p>
                        </div>
                        <div class="mission__row">
                            <h3 class="mission__title title">наша миссия</h3>
                            <p class="mission__descr descr">Мы создаем проекты премиального качества, стремясь сделать
                                <span> наши здания надежными, эффективными и современными</span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Benefits -->

            <section class="benefits">
                <div class="container">
                    <div class="benefits__body">
                        <h4 class="benefits__title title title_primary">мы заботимся
                            о вас</h4>
                        <ul class="benefits__list">
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/calendar.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Sick day \ Оплачиваемый выходной
                                        </p>
                                    </div>
                                    <p class="benefits__descr descr">Раз в год ты можешь взять
                                        один оплачиваемый выходной</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/wallet.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Материальная помощь</p>
                                        <p class="benefits__prof-descr">Профсоюз</p>
                                    </div>
                                    <p class="benefits__descr descr">Компания оказывает материальную помощь при
                                        необходимости</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/heart.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Бонусы по случаю значимых событий
                                        </p>
                                    </div>
                                    <p class="benefits__descr descr">Бонусы по случаю значимых событий </p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/insurance.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Медицинская страховка</p>
                                    </div>

                                    <p class="benefits__descr descr">Наша медицинская программа включает в себя
                                        комплексную
                                        помощь, а также медикаментозное лечение, стоматологию и диагностику Covid-19</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/sports.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Allsports \ Частичная компенсация
                                        </p>
                                    </div>

                                    <p class="benefits__descr descr">Ежедневный доступ к тренажерным залам,
                                        йога-центрам,
                                        бассейнам, теннису и многим другим спортивным услугам</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/english.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Курсы английского</p>
                                    </div>

                                    <p class="benefits__descr descr">Корпоративные занятия английским в офисе. Опытные
                                        преподаватели, носители языка, удобный график - все для твоего комфорта. </p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/corporate.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Корпоративные праздники</p>
                                        <p class="benefits__prof-descr">Профсоюз</p>
                                    </div>

                                    <p class="benefits__descr descr">У нас проходят грандиозные тематические
                                        корпоративы:
                                        от вечеринки в стиле 90-х до джаза</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/team.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Team-building</p>
                                        <p class="benefits__prof-descr">Профсоюз</p>
                                    </div>

                                    <p class="benefits__descr descr">Мы хорошо работаем, поэтому и хорошо отдыхаем.
                                        Отправляйся с нами на мастер-классы, спортивные соревнования, цирк, турслеты,
                                        экскурсии по Беларуси и за ее пределами
                                    </p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/study.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Поддержка обучения </p>
                                    </div>

                                    <p class="benefits__descr descr">Полная или частичная оплата курсов, семинаров,
                                        тренингов, повышение квалификации. Компенсация затрат на сертификацию</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/rest.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Отпуск 30 календарных дней</p>
                                    </div>

                                    <p class="benefits__descr descr">Отпуск можем делить на три части</p>
                                </div>
                            </li>
                            <li class="benefits__item">
                                <img class="benefits__icon" src="img/general/pages/employee/tech.png" alt="icon">
                                <div class="benefits__text">
                                    <div class="benefits__subtitle-wrapper">
                                        <p class="benefits__subtitle subtitle_primary">Качественная техника</p>
                                    </div>
                                    <p class="benefits__descr descr">Качественная техника</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="final-words">
                <div class="container">
                    <div class="final-words__body">
                        <div class="final-words__col">
                            <h4 class="final-words__title title title">Мы не забываем и
                                о наших маленьких
                                коллегах!</h4>
                            <p class="final-words__descr descr">Проводим для них конкурсы, веселые праздники и дарим
                                подарки
                            </p>
                        </div>
                        <div class="final-words__col">
                            <div class="bonuses">
                                <ul class="bonuses__list">
                                    <li class="bonuses__item">
                                        <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                            alt="icon" />
                                        <p class="bonuses__subtitle subtitle_primary">Финансовый бонус при рождении
                                            ребенка
                                        </p>
                                    </li>
                                    <li class="bonuses__item">
                                        <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                            alt="icon" />
                                        <p class="bonuses__subtitle subtitle_primary">Праздники для детей</p>
                                    </li>
                                    <li class="bonuses__item">
                                        <img class="bonuses__icon" src="img/general/pages/employee/arrow.png"
                                            alt="icon" />
                                        <p class="bonuses__subtitle subtitle_primary">Санатории и лагеря</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

            @@include("../blocks/modules/support/support.html")
    </div>




    <script type='text/javascript' src="js/main.js"></script>
</body>

</html>