<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Page</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/all.css">
</head>

<body>
    <div class="content-wrapper">
        @@include("../blocks/modules/sideBar/sideBar.html")
        <div class="header-wrapper">
            @@include("../blocks/modules/header/header.html")
        </div>
        <main class="main">
            <style>
                .support-pannel {
                    padding-right: 21%;
                }
            </style>
            <div class="methodical-page page">
                <div class="methodical-wrapper">
                    <div class="methodical-content">
                        <h1 class="methodical-content__title title title_primary">методическая работа</h1>
                        <section class="docs">
                            <div class="container">
                                <div class="docs__body">
                                    <div class="docs__col">
                                        <h4 class="docs__title title">документы</h4>
                                        <ul class="docs__list">
                                            <li class="docs__item">
                                                <a class="docs__link subtitle_primary" href="#" download>
                                                    <p class="docs__text">Стратегия нашей компании</p>
                                                    <img class="docs__icon" src="./img/general/pages/methodical/pdf.svg"
                                                        alt="icon">
                                                    <span>1,2 Мб</span>
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link subtitle_primary" href="#" download>
                                                    <p class="docs__text">наша миссия</p>
                                                    <img class="docs__icon" src="./img/general/pages/methodical/doc.svg"
                                                        alt="icon">
                                                    <span>1,2 Мб</span>
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link subtitle_primary" href="#" download>
                                                    <p class="docs__text">список бонусов</p>
                                                    <img class="docs__icon" src="./img/general/pages/methodical/pdf.svg"
                                                        alt="icon">
                                                    <span>1,2 Мб</span>
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link subtitle_primary" href="#" download>
                                                    <p class="docs__text">наши ценности</p>
                                                    <img class="docs__icon" src="./img/general/pages/methodical/doc.svg"
                                                        alt="icon">
                                                    <span>1,2 Мб</span>
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link subtitle_primary" href="#" download>
                                                    <p class="docs__text">велкомбук</p>
                                                    <img class="docs__icon" src="./img/general/pages/methodical/doc.svg"
                                                        alt="icon">
                                                    <span>1,2 Мб</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="docs__col">
                                        <h4 class="docs__title title">ссылки</h4>
                                        <ul class="docs__list">
                                            <li class="docs__item">
                                                <a class="docs__link docs__ref subtitle_primary" href="#" download>
                                                    Lorem Ipsum is simply dummy text of the printing
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link docs__ref subtitle_primary" href="#" download>
                                                    Кnd typesetting industry
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link docs__ref subtitle_primary" href="#" download>
                                                    Lorem Ipsum has been the industry's standard
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link docs__ref subtitle_primary" href="#" download>
                                                    Рummy text ever since the 1500s
                                                </a>
                                            </li>
                                            <li class="docs__item">
                                                <a class="docs__link docs__ref subtitle_primary" href="#" download>
                                                    When an unknown printer took a galley of type and scrambled
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Presentation -->

                        <section class="presentations">
                            <div class="container">
                                <div class="presentations__body">
                                    <h3 class="presentations__title title">презентации</h3>
                                    <ul class="presentations__list">
                                        <li class="presentations__item">
                                            <img class="presentations__img"
                                                src="./img/general/pages/methodical/pres1.png" alt="img">
                                            <h4 class="presentations__subtitle subtitle_primary">Название презентации
                                            </h4>
                                            <p class="presentations__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="presentations__btn"><a class="presentations__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                        <li class="presentations__item">
                                            <img class="presentations__img"
                                                src="./img/general/pages/methodical/pres2.png" alt="img">
                                            <h4 class="presentations__subtitle subtitle_primary">Название презентации
                                            </h4>
                                            <p class="presentations__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="presentations__btn"><a class="presentations__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                        <li class="presentations__item">
                                            <img class="presentations__img"
                                                src="./img/general/pages/methodical/pres3.png" alt="img">
                                            <h4 class="presentations__subtitle subtitle_primary">Название презентации
                                            </h4>
                                            <p class="presentations__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="presentations__btn"><a class="presentations__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="presentations__main-btn">Больше презентаций</button>
                        </section>

                        <!-- Video -->

                        <section class="video">
                            <div class="container">
                                <div class="video__body">
                                    <h3 class="video__title title">презентации</h3>
                                    <ul class="video__list">
                                        <li class="video__item">
                                            <video preload="metadata" poster="./videos/posters/poster1.png"
                                                class="video__block" controls>
                                                <source src="./videos/video.webm" type="video/webm">
                                                <source src="./videos/video.mp4" type="video/mp4">
                                            </video>
                                            <h4 class="video__subtitle subtitle_primary">Название материала</h4>
                                            <p class="video__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="video__btn"><a class="video__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                        <li class="video__item">
                                            <video preload="metadata" poster="./videos/posters/poster2.png"
                                                class="video__block" controls>
                                                <source src="./videos/video.webm" type="video/webm">
                                                <source src="./videos/video.mp4" type="video/mp4">
                                            </video>
                                            <h4 class="video__subtitle subtitle_primary">Название материала</h4>
                                            <p class="video__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="video__btn"><a class="video__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                        <li class="video__item">
                                            <video preload="metadata" poster="./videos/posters/poster3.png"
                                                class="video__block" controls>
                                                <source src="./videos/video.webm" type="video/webm">
                                                <source src="./videos/video.mp4" type="video/mp4">
                                            </video>
                                            <h4 class="video__subtitle subtitle_primary">Название материала</h4>
                                            <p class="video__descr descr">Ежедневный доступ к тренажерным залам,
                                                йога-центрам, бассейнам, теннису и многим другим спортивным услугам</p>
                                            <buttom class="video__btn"><a class="video__link" href="#"
                                                    download="">Скачать</a></buttom>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="video__main-btn">Больше видеоматериалов</button>

                        </section>
                    </div>
                    <aside class="right-sidebar">
                        <h3 class="right-sidebar__title">методическая работа</h3>
                        <div class="right-sidebar__wrapper">
                            <h4 class="right-sidebar__subtitle subtitle_primary"><a class="rigth-sidebar__subtitle-link"
                                    href="#">разъяснения тнпа</a></h4>
                            <ul class="right-sidebar__list">
                                <li class="right-sidebar__item"><a class="right-sidebar__link" href="#">
                                        Электроснабжение
                                    </a></li>
                                <li class="right-sidebar__item"><a class="right-sidebar__link" href="#">
                                        Электроснабжение
                                    </a></li>
                                <li class="right-sidebar__item"><a class="right-sidebar__link" href="#">
                                        Электроснабжение
                                    </a></li>
                                <li class="right-sidebar__item"><a class="right-sidebar__link" href="#">
                                        Электроснабжение
                                    </a></li>
                            </ul>
                            <h4 class="right-sidebar__subtitle subtitle_primary"><a class="rigth-sidebar__subtitle-link"
                                    href="#">смк документы</a></h4>
                            <h4 class="right-sidebar__subtitle subtitle_primary"><a class="rigth-sidebar__subtitle-link"
                                    href="#">приказы по организационной деятельности</a></h4>
                        </div>
                    </aside>
                </div>
            </div>
        </main>
        @@include("../blocks/modules/support/support.html")
    </div>

    <script type='text/javascript' src="js/main.js"></script>
</body>

</html>