/* Base styles */

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

p,h1,h2,h3,h3,h4,h5,h6{
    font-size: 18px;
}

.title{
    color: $title-color;
    font-size: 40px;
    font-weight: 300;
    line-height: 68px;
    text-transform: uppercase;
}
.title_primary{
    color: $title-color;
    font-size: 60px;
    font-weight: 300;
    line-height: 68px;
    text-transform: uppercase;
}

.subtitle{
    color: $subtitle-color;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.subtitle_primary{
    color: $subtitle-primary-color;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.descr{
    color: #747474;
    font-weight: 300;
    line-height: 30px;
}

.btn {
    height: 71px;
    border-radius: 20px;
    border: 3px solid $btn-border;
    background-color: $btn-bg;
    color: $btn-text;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: 0.2s;
}
.btn:hover {
    background-color: $btn-hover-bg;
    box-shadow: 0px 0px 5px $btn-hover-shadow;
}
.btn:active{
    background-color: $btn-active-bg;
    color: $btn-active-text;
}

.link {
    color: $link-color;
    transition-duration: 0.1s;
}
.link:hover {
    color: $link-hover-color;
}
.link:active {
    color: $link-active-color;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 60px;
}

/* Content */

.content {
    padding: 0px 60px 0px 109px;
}

.right-content {
    padding: 27px 60px 0px 109px;
}


@media (max-width: 650px) {
    .container {
        padding-left: 24px;
    }
}